:root {
  --mainColor: #7f998c;
  --secondaryColor: #515a48;

  --boarderColor: #161914;

  --mainText: #fff;
  --secondaryText: #eeeeee;

  --themeDotBorder: #fff;

  --previewBg: rgb(81, 90, 72, 0.3);
  --previewShadow: #2a2f25;

  --buttonColor: #669966;
}

ul a {
  color: whitesmoke;
}
