:root {
  --mainColor: #884b97;
  --secondaryColor: #382a3f;

  --boarderColor: #1d1520;

  --mainText: #fff;
  --secondaryText: #eeeeee;

  --themeDotBorder: #fff;

  --previewBg: rgb(29, 21, 32, 0.3);
  --previewShadow: #2b202f;

  --buttonColor: #8534a3;
}

ul a {
  color: whitesmoke;
}
